@import "tailwindcss";
@import "tw-animate-css";

@import "./color-palette.css";
@import "./theme.css";
@import "./typography.css";
@import "./dimensions.css";

@import "./demo.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    @apply cursor-pointer;
  }
}
