:root {
  --brand: rgb(39, 80, 45);
  --brand-foreground: oklch(0.96 0.04 157);

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --info: oklch(0.62 0.19 260); /* blue-500 */
  --info-foreground: oklch(0.93 0.03 256); /* blue-100 */
  --success: oklch(0.63 0.17 149); /* green-600 */
  --success-foreground: oklch(0.96 0.04 157); /* green-100 */
  --warning: oklch(0.7 0.19 48); /* orange-500 */
  --warning-foreground: oklch(0.95 0.04 75); /* orange-100 */
  --destructive: oklch(0.58 0.22 27); /* red-600 */
  --destructive-foreground: oklch(0.94 0.03 18); /* red-100 */

  --card: var(--color-neutral-100);
  --card-foreground: oklch(0.145 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --ring: oklch(0.869 0.022 252.894);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --info: oklch(0.71 0.14 255); /* blue-400 */
  --info-foreground: oklch(0.93 0.03 256); /* blue-100 */
  --success: oklch(0.8 0.18 152); /* green-400 */
  --success-foreground: oklch(0.96 0.04 157); /* green-100 */
  --warning: oklch(0.76 0.16 56); /* orange-400 */
  --warning-foreground: oklch(0.95 0.04 75); /* orange-100 */
  --destructive: oklch(0.71 0.17 22); /* red-400 */
  --destructive-foreground: oklch(0.94 0.03 18); /* red-100 */

  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --ring: oklch(0.446 0.043 257.281);
}

@theme {
  /* Brand */
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);

  /* Base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  /* Actions */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Alerts */
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* Card */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Chart */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Other */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-ring: var(--ring);

  /* Borders */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
