@layer base {
  :root {
    --brand: rgb(39, 80, 45);

    --info: oklch(0.62 0.19 260); /* blue-500 */
    --info-foreground: oklch(0.93 0.03 256); /* blue-100 */
    --success: oklch(0.63 0.17 149); /* green-600 */
    --success-foreground: oklch(0.96 0.04 157); /* green-100 */
    --warning: oklch(0.7 0.19 48); /* orange-500 */
    --warning-foreground: oklch(0.95 0.04 75); /* orange-100 */
  }
}

@theme {
  --color-brand: var(--brand);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
}
